@import '../../../node_modules/modern-normalize/modern-normalize.css';

form {
  width: 20em;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 1em;

  display: flex;
  flex-direction: column;

  * {
    margin: 0.5em;
  }
}

button {
  align-self: flex-end;
}
